
*{
 margin: 0;
 padding: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
    align-items: center;

   
    
}


.list {
    list-style-type: none;
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    align-content: center;
    
    
}
.items {
    
    font-size: 15px;
    color:#000;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

.login{

        align-items: center;
        background: #FFFFFF;
        border: 1 solid #f6f9fc;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #1A202C;
        display: inline-flex;
        font-family: Inter, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        height: 25px;
        justify-content: center;
        line-height: 24px;
        overflow-wrap: break-word;
        padding: 15px;
        text-decoration: none;
        width: auto;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      
}


/* CSS */
.signin {
    align-items: center;
  background-image: linear-gradient(-180deg, rgb(11, 217, 244) 0%, #00eaff 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  height: 25px;
  padding: 15px;
  display: inline-flex;
  font-size: 15px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 861px){
    .list {
        flex-direction: column;
        height: auto;
        
    }
    .list2{
        background: #ffffff;
        z-index: 6;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
}

